# dependencies
node_modules/
frontend/node_modules/

# directus data (keep structure, ignore content)
directus/database/*.db
directus/uploads/*
!directus/uploads/.gitkeep

# game server data
game-server/data/*.db*

# env
.env

# build output
frontend/dist/

# OS
.DS_Store
